<div class="main text-center">
  <h2 class="title">Naoki's Daily App</h2>
  <div class="menu">
    <%= link_to  "Show Todo", "/todos", class: "btn btn-default" %>
    <%= link_to  "Show Recipe", "/cooks", class: "btn btn-default" %>
    <%= link_to  "Show Shopping", "/shoppings", class: "btn btn-default" %>
  </div>
</div>