<h2>買い物リスト</h2>
<div class="row">
  <table class="table table-bordered">
    <%= form_tag({controller: :shoppings, action: :destroy}, method: 'delete') do %>
      <tr>
        <th class="col-md-1">チェック</th>
        <th class="col-md-11">買い物内容</th>
      </tr>
      <% @shoppings.each do |shopping| %>
        <tr>
          <td><%= check_box_tag "deletes[#{shopping.id}]", shopping.id %></td>
          <td><%= simple_format(shopping.thing.gsub("　","")) %></td>
        </tr>
      <% end %>
      <%= submit_tag "削除"%>
    <% end %>
  </table>
</div>
